/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container{
        width: 100%;
    }
    .header {
        background: #dad;
    }

    .menu {
        flex-direction: column;
    }

    .slide{
        flex-direction: column;
        padding: 30px;
    }

    .about-innter{
        flex-direction: column;
    }

    .about-image{
        width: 100%;
    }

    .about-text{
        width: 100%;
    }

    .area{
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .footer-content{
        font-size: 15px;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container{
        width: 100%;
    }
    .header {
        background: #e47de4;
    }

    .menu {
        flex-direction: column;
    }

    .slide{
        flex-direction: column;
        padding: 30px;
    }

    .slide-text{
        padding: 20px;
        width: 75%;
    }

    .about-innter{
        flex-direction: column;
    }

    .about-image{
        width: 100%;
    }

    .about-text{
        width: 100%;
    }

    .about-image img{
        margin-bottom: 20px;
    }

    .area{
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .footer-content{
        font-size: 15px;
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
    .container{
        width: 100%;
    }
    .header {
        background: #e47de4;
    }

    .menu {
        flex-direction: row;
    }

    .slide{
        flex-direction: row;
        padding: 30px;
    }

    .slide-text{
        padding: 20px;
        width: 75%;
    }

    .about-innter{
        flex-direction: row;
    }

    .about-image{
        width: 100%;
    }

    .about-text{
        width: 100%;
    }

    .about-image img{
        margin-bottom: 20px;
    }

    .area{
        width: 44%;
        height: auto;
        padding: 20px;
    }

    .footer-content{
        font-size: 18px;
    }


  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
   
    .container{
        width: 992px;
    }
    .header {
        background: #9e549e;
    }

    .menu {
        flex-direction: row;
    }

    .slide{
        flex-direction: row;
        padding: 30px;
    }

    .slide-text{
        padding: 20px;
        width: 75%;
    }

    .about-innter{
        flex-direction: row;
    }

    .about-image{
        width: 100%;
    }

    .about-text{
        width: 100%;
    }

    .about-image img{
        margin-bottom: 20px;
    }

    .area{
        width: 44%;
        height: auto;
        padding: 20px;
    }

    .footer-content{
        font-size: 18px;
    }


  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1170px) {
    
    .container{
        width: 1170px;
    }
    .header {
        background: #e47de4;
    }

    .menu {
        flex-direction: row;
    }

    .slide{
        flex-direction: row;
        padding: 30px;
    }

    .slide-text{
        padding: 20px;
        width: 75%;
    }

    .about-innter{
        flex-direction: row;
    }

    .about-image{
        width: 100%;
    }

    .about-text{
        width: 100%;
    }

    .about-image img{
        margin-bottom: 20px;
    }

    .area{
        width: 44%;
        height: auto;
        padding: 20px;
    }

    .footer-content{
        font-size: 18px;
    }

    

  }