@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Festive&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Dancing Script', cursive;
	font-family: 'Festive', cursive;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 980px;
	margin: 0 auto;
}

.header{
	background: #000;
	color: #fff;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .logo{
	color: #800080;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu li{
	padding: 10px;
}
.header-menu li a{
	padding: 10px;
	color: #fff;
}
.header-menu li a:hover{
	background: #800080;
}

.slider{
	background: #800080;
}

.slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-innter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-image img{
	width: 50%;
}

.about-image{
	width: 50%;
}

.about-text{
	width: 50%;
}

.btnButton{
	padding: 10px 20px;
	background-image: linear-gradient(orange tomato);
	color: #fff;
	border-radius: 5px;
	background: #ce30ce;
	transition: all ease 0.3s;
}

.btnButton:hover{
	background: #000;
	color: #800080;
}

.footer-content{
	background: #000;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}