@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Festive&family=Poppins:wght@400;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Dancing Script', cursive;
	font-family: 'Festive', cursive;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.container{
	width: 980px;
	margin: 0 auto;
}

.header{
	background: #dad;
	color: #fff;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu .logo{
	color: #800080;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.menu .logo:hover{
	color: #ce30ce;

}

.header-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu li{
	padding: 10px;
}
.header-menu li a{
	padding: 10px;
	color: #800080;
	text-transform: uppercase;
	transition: all ease 0.3s;
}
.header-menu li a:hover{
	background: #800080;
	color: #fff;
}

.slider{
	background: #800080;
}

.slide{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide-text h2{
	font-size: 40px;
	text-transform: uppercase;
}

.slide-text h1{
	color: #fff;
}

.slide-text h4{
	margin-bottom: 20px;
}

.slide-img img{
	box-shadow: 5px 2px 8px 3px #ce30ce;
}

.about{
	margin: 60px;
}

.about-innter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-image img{
	width: 50%;
    border: 12px solid #800080;
    border-radius: 50%;
    box-shadow: 2px 0px 9px 7px #ce30ce;
}


.about-heading h2{
	color: #800080;
    text-transform: uppercase;
	margin-bottom: 20px;
}

.about-heading h4{
	color: #ce30ce;
	margin-bottom: 10px;
	font-weight: 400;
}

.about-innertext{
	margin-bottom: 15px;
}
.about-image{
	width: 50%;
}

.about-text{
	width: 50%;
}

.btnButton{
	padding: 10px 20px;
	color: #fff;
	border-radius: 5px;
	background: #ce30ce;
	transition: all ease 0.3s;
}

.btnButton:hover{
	background: #dad;
	color: #800080;
}

.social-link{
	margin-bottom: 20px;
}
.social-link a{
	margin: 0px 12px 0px 0px;
}

.social-link i{
	font-size: 25px;
	background: #dad;
	padding: 8px;
	border-radius: 5px;
	transition: all ease 0.3s;
}

.social-link i:hover{
	background: #ce30ce;
	color: #fff;
}

.experiences{
	padding: 30px;
    background: #dad;
}

.experience-area{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading-title{
	text-align: center;
	margin-bottom: 30px;
}

.heading-title h2{
    text-transform: uppercase;
}

.area{
	width: 47%;
	height: 175px;
    border-left: 5px solid #800080;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 5px 2px 8px 3px #ce30ce;
}

.area h2{
	color: #ce30ce;
}

.area h2, h5{
	margin-bottom: 20px;
}
.footer-content{
	background: #800080;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}

.footer-link{
	color: #ce30ce;
	text-decoration: none;
}

.footer-link:hover{
	color: #dad;
	text-decoration: underline;
}